<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">ADMIN</div>
    <div class="list-group list-group-flush">
        <a href="/admin" class="list-group-item list-group-item-action bg-light">Trang chủ</a>
        <a href="/admin/videos/new" class="list-group-item list-group-item-action bg-light">Thêm mới video</a>
        <a href="/admin/secret-key" class="list-group-item list-group-item-action bg-light">Mã bí mật</a>
        <a href="/admin/secret-key/how-to-get-pass" class="list-group-item list-group-item-action bg-light">Hướng dẫn lấy pass</a>
    </div>
</div>
